body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 200 0 0 0;
  background: url("./assets/images/starsBg.png");
  background-size: cover;
  background-position-x: center;
}

.logo img {
  height: 100px;
}